.listItem{
    color:#fff;
    background-color:#212121;
    padding: 6px 12px;
    overflow: hidden;
    position: relative;
    font-size: 0.875rem;
    max-width: 264px;
    min-width: 72px;
    box-sizing: border-box;
    min-height: 48px;
    text-align: center;
    flex-shrink: 0;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.75;
    white-space: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #59ff00;
}

.listContainer{
    color:#fff;
    background-color:#212121;
}